<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TTH Messenger</title>
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <h1>Добро пожаловать в TTH Messenger</h1>
  <a href="/user/login">Войти</a>
  <a href="/user/register">Зарегистрироваться</a>
</body>
</html>